/* Font importation */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

/* CSS normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
}

@media (max-width: 768px) and (orientation: landscape) {
  body {
    height: 100vh;
  }
}

button {
  cursor: pointer;
}

/* Variables */

:root {
  --color-general: #363636;
  --border-general: clamp(2px, 0.4vmin, 6px) solid var(--color-general);
  --bg-calculator: #a7a7a7;

  --color-btn-general: #eeeeee;
  --color-btn-general-hover: #cccccc;
  --color-btn-general-active: #aaaaaa;

  --color-btn-red: #f5a2a2;
  --color-btn-red-hover: #d38080;
  --color-btn-red-active: #b15e5e;

  --color-btn-blue: #aaaaf7;
  --color-btn-blue-hover: #8888d5;
  --color-btn-blue-active: #6666b3;

  --color-btn-yellow: #f5d58f;
  --color-btn-yellow-hover: #d3b35d;
  --color-btn-yellow-active: #b1913b;

  --fs-general: clamp(1rem, 3vmin, 3rem);
  --fs-prev-operation: clamp(0.75rem, 3vmin, 3rem);
  --fs-curr-operation: clamp(2rem, 6vmin, 6rem);
  --ff-general: 'Open sans', sans-serif;
}

/* Layout */

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-general);
}

#calculator {
  align-content: flex-start;
  width: 95%;
  aspect-ratio: 3/4;
  padding: 4vmin;
  display: flex;
  flex-direction: column;
  gap: 4vmin;
}

#screen {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#screen div {
  justify-content: end;
  display: flex;
  align-items: center;
}

#memory-display {
  flex: 1;
}

#main-display {
  flex: 2;
}

#buttons-area {
  height: 75%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4%;
}

.span-2 {
  grid-column: span 2;
}


@media (min-aspect-ratio: 3/4) {
  #calculator {
    width: auto;
    height: 95%;
  }
}


@media (min-width: 1024px) {
  #calculator {
    height: 90%;
    width: auto;
  }
}

/* Aesthetics */

#calculator {
  background: var(--bg-calculator);
  border: var(--border-general);
  border-radius: 3vmin;
  color: var(--color-general);
  user-select: none;
}

#screen {
  background: var(--color-btn-general);
  border: var(--border-general);
  border-radius: 1vmin;
  padding: 4%;
}

#screen div {
  font-weight: 500;
}

#memory-display {
  font-size: var(--fs-prev-operation);
}

#main-display {
  font-size: var(--fs-curr-operation);
}

button {
  background: var(--color-btn-general);
  border: var(--border-general);
  border-radius: 0.5vmin;
  font-size: var(--fs-general);
  transition: background 0.25s ease;
}

button:hover {
  background: var(--color-btn-general-hover);
}

button:active {
  background: var(--color-btn-general-active);
}

.btn-red {
  background: var(--color-btn-red);
}

.btn-red:hover {
  background: var(--color-btn-red-hover);
}

.btn-red:active {
  background: var(--color-btn-red-active);
}

.btn-blue {
  background: var(--color-btn-blue);
}

.btn-blue:hover {
  background: var(--color-btn-blue-hover);
}

.btn-blue:active {
  background: var(--color-btn-blue-active);
}

.btn-yellow {
  background: var(--color-btn-yellow);
}

.btn-yellow:hover {
  background: var(--color-btn-yellow-hover)
}

.btn-yellow:active {
  background: var(--color-btn-yellow-active);
}