/* GENERAL */

/* Font importation */

/* CSS normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
}

@media (max-width: 768px) and (orientation: landscape) {
  body {
    height: 100vh;
  }
}

button {
  cursor: pointer;
}

/* Variables */

/* Layout */

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#calculator {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  aspect-ratio: 3/4;
  background: #7e6868;
}


#screen {
  height: 30%;
  width: 100%;
}

#buttons-row-1 {
  height: 14%;
  width: 100%;
}

#buttons-row-2 {
  height: 56%;
  width: 25%;
}

#numeric-buttons {
  height: 56%;
  width: 75%;
  background: darkblue;
}

@media (min-aspect-ratio: 3/4) and (orientation: portrait) {
  #calculator {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1023.98px) and (orientation: landscape) {
  #calculator {
    flex-direction: column;
    aspect-ratio: 4/3;
  }

  #screen {
    height: 50%;
    width: 50%;
  }

  #buttons-row-1 {
    height: 25%;
    width: 50%;
  }

  #buttons-row-2 {
    height: 25%;
    width: 50%;
  }

  #numeric-buttons {
    width: 50%;
    height: 100%;
  }

}

@media (max-aspect-ratio: 4/3) and (orientation: landscape) {
  #calculator {
    width: 100%;
    height: auto;
  }
}

@media (min-aspect-ratio: 401/300) and (orientation: landscape) {
  #calculator {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 1024px) {
  #calculator {
    height: 80%;
    width: auto;
  }
}

/* Aesthetics */

#calculator {
  border-radius: 5%;
}